html.body{
margin: 0%;
box-sizing: border-box;
overflow-x: hidden;
}

.topnav{
  background-color:#3498db ;
  overflow:hidden;
}

.Homelogo>ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.Homelogo>li{
  display: inline;
  float: right;
}

.Homelogo>li>a{
  font-size: large;
  display: block;
  color: whitesmoke;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}


.Contactlogo>ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.Contactlogo>li {float: right;
display:inline;}

.Contactlogo>li>a{
  font-size: large;
  display: block;
  color: whitesmoke;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}


.Aboutlogo>ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.Aboutlogo>li{
  display: inline;
  float: right;
}

.Aboutlogo>li>a{
  font-size: large;
  display: block;
  color: whitesmoke;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.wrapper{
  display: block;
  text-align: start;
  float: none;
  position: relative;
  inset: auto;
  z-index: auto;
  width: 1168px;
  height: 0px;
  margin: 0px;
  overflow: hidden;
  background-color: aquamarine;
}

.siteframe{
  display: block;
  margin: auto;
  width:auto;
  border: solid black thin;
  padding: 50x;
  background-color: rgba(45, 0, 128, 0.137);
  
}


.project{
  display:block;
  margin: auto;
  width: auto;
  padding: 40px;
  border-style: solid;
  border-color: #b290fc;
}

